# Ignore SQLite database files
./src/home/*.sqlite3

# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
.venv/

# Ignore specific folder inside src
./src/__pycache__/
