# Ignore SQLite database files
./src/*.sqlite3

# Ignore environment files
.env

# Ignore virtual environment
.venv/


# Ignore Python cache files
__pycache__/
*.pyc

# Ignore specific folder inside src
src/__pycache__/

src/db.sqlite3

src/static/vendors

local_cdn/
__pycache__/
